# Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [6]:
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [7]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [29]:
chipo.info
# OR
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [27]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [10]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [11]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [12]:
chipo.item_name.value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 10. How many items were ordered?

In [43]:
total_items = chipo.item_name.value_counts()


total= chipo.quantity.sum()


#Doubt

### Step 11. What was the most ordered item in the choice_description column?

In [44]:
chipo.choice_description.value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [50]:
total_orders = chipo.quantity.sum()
total_orders

4972

### Step 13. Turn the item price into a float

In [52]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

TypeError: 'float' object is not subscriptable

### Step 14. How much was the revenue for the period in the dataset?

In [53]:
chipo.item_price.sum()

34500.16000000046

### Step 15. How many orders were made in the period?

In [18]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average amount per order?

In [22]:
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['item_price']

18.811428571428689

### Step 17. How many different items are sold?

In [23]:
chipo.item_name.value_counts().count()

50